/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.nav-left ul {
    list-style-type: none;
}

.nav-left ul li {
    display: inline;
    margin: 0 15px;
}

.nav-left ul li a {
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
}

.nav-left ul li a:hover {
    color: #f8b400;
}

/* Search bar styling */
.nav-right input[type="text"] {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #f8b400;
    outline: none;
}

/* Header with title and description */
.intro {
    text-align: center;
    padding-top: 40px;
    background-color: #F0E2C8;
    align-items: flex-end;

}

.intro h1 {
    font-size: 2.5em;
    color: #333;
    font-family: fantasy;
}


.tableau{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tableau table,th{
    border: black solid 3px;
}
.tableau th{
    background-color: #F0E2C8;
}
.tableau td{
    background-color: #085029;
    color: white;
}


.Analyse h2{
    display: flex;
    justify-content: center;
}