/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #F0E2C8;
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.nav-left ul {
    list-style-type: none;
}

.nav-left ul li {
    display: inline;
    margin: 0 15px;
}

.nav-left ul li a {
    text-decoration: none;
    color: #f9f9f9;
    font-weight: bold;
}

.nav-left ul li a:hover {
    color: #f8b400;
}

/* Search bar styling */
.nav-right input[type="text"] {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #f8b400;
    outline: none;
}

/* Header with title and description */
.intro {
    display: flex;
    justify-content: center;
    padding-top: 0px;
    background-color: #F0E2C8;
    gap: 20px;

}

.intro h1 {
    align-self: center;
    font-size: 2.5em;
    color: #333;
    font-family: fantasy;
}


.classement{
    display: flex;
    justify-content: center;
}
.classement table,th{
    border: black solid 3px;
}
.classement th{
    background-color: #F0E2C8;
}
.classement td{
    background-color: #085029;
    color: white;
}
.classement td a{
    color: white;
    text-decoration: none;
}
.classement td a:hover{
    color: #f8b400;
}

.Analyse {
    max-width: 900px;
    margin: 20px auto; 
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        h2 {
            font-size: 2.2em;
            font-weight: bold;
            color: #2e3d49;
            text-align: center;
            margin-bottom: 20px;
            p {
                font-size: 1.1em;
                line-height: 1.7;  
                margin-bottom: 25px;  
                text-align: justify; 
                color: #555; 
                padding: 0 15px;
                br {
                    margin-bottom: 15px;
                  } 
              }
        }
}
@media (max-width: 768px) {
    .Analyse {
      padding: 20px;
      margin: 10px;
    }
    .Analyse h2 {
        font-size: 1.8em;
      }
    
      .Analyse p {
        font-size: 1em;
        padding: 0 10px;
      }
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
  }